node_modules/
backend/node_modules/
blockchain/node_modules/
blockchain/lib/
blockchain/out/
blockchain/cache/
blockchain/metadata.json
blockchain/flattened_marketplace.sol
blockchain/flattened_studentnft.sol
blockchain/flattened_auction.sol
blockchain/flattened_auctionfactory.sol
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/eslint.config.js
frontend/vite.config.js
backend/dist/
frontend/contracts
.env
.env.local
