node_modules/
frontend/node_modules/
backend/node_modules/
blockchain/node_modules/
blockchain/lib/
blockchain/out/
blockchain/cache/
blockchain/metadata.json
frontend/.next/
frontend/out/
frontend/eslint.config.js
frontend/vite.config.js
backend/dist/
StudentNFT-flattened.sol
frontend/contracts
.env
.env.local
